<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete Search Bar</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/808823f344.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="title">
        <h1>What Can I Cook?</h1>
    </div>

    <div class="search-box">
        <form action="/addIngredient" method="post" class="row"><!---->
            <input type="text" id="input-box" placeholder="Find and select ingredient"
            autocomplete="off" name="ingredient">
            <button type="submit" class="search-button"><i class="fa-solid fa-arrow-right"></i></button>
        </form><!---->
        <form action="/clearAll" method="post" class="row"><!---->
            <button type="submit" class="search-button">Clear</button>
        </form>
        <div class="result-box">
            <p>  Selected Ingredients:</p>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--<script src="autocomplete.js"></script>-->
    
    <div class="content">
        <div class="selected-ingredients">
            <h2>Results:</h2>
            <ul>
                {% for result in results %}
                    <li>{{ result[0] }}: {{ result[1] }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>

</body>

</html>